
@{
    ViewBag.Title = "Tooth";
}

<h2>口腔照護</h2>

<img class="img-responsive" src="~/Content/Images/tooth-1.jpg" />
<img class="img-responsive" src="~/Content/Images/tooth-2.jpg" />
<img class="img-responsive" src="~/Content/Images/tooth-3.jpg" />
<img class="img-responsive" src="~/Content/Images/tooth-4.jpg" />